{% extends 'base.twig' %}
{% block title %}Rport Home{% endblock %}
{% block page_title %}<h3>Rport home</h3>{% endblock %}
{% block content %}
	<button id="btnCreateReport" class="btn btn-small" type="button">{{ text.index.btnCreateReport}}</button>
{% endblock %}
{% block js %}
	<!-- <script src="js/home.js"></script> -->
{% endblock %}