<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %} - Slimfast</title>
        {% endblock %}
			{% include 'css.twig' %}
		</head>
		<body>
			{% include 'header.twig' %}
				<div id="content" class="container">
					{% block page_title %}{% endblock %}
					{% block content %}{% endblock %}
					</div>
				</body>
				<!-- js files -->
			{% include 'js.twig' %}
			{% block js %}{% endblock %}
			</html>
