<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %} - Rport</title>
        {% endblock %}
			{% include 'css.twig' %}
		</head>
		<body>
			{% include 'header.twig' %}
				<div id="content" class="container">
					<div id="alertContainer">
					</div>
					<div id="alertBox" class="alert fade in hidden">
						<button type="button" class="close" data-dismiss="alert">X</button>
						<div id="alertText">
							<strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
						</div>
					  </div>
					{% block page_title %}{% endblock %}
					{% block content %}{% endblock %}
					</div>
				</body>
				<!-- js files -->
			{% include 'js.twig' %}
			{% block js %}{% endblock %}
			</html>
