<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="#">Rport</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li id="home" class="section active"><a href="/">Home</a></li>
							<li id="rport" class="section"><a href="/rport">Rport</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>